<div >
  <h1 class="row justify-content-center" style="font-size: 50px;margin-top: 2%;font-weight: bolder;color: rgb(155, 0, 72);">Book a Flight</h1>
</div>

<div >
  <form [formGroup]="form" >
    <!-- Input name -->
    <div class="mb-3" style="margin-inline-start: 40%;margin-inline-end: 40%;margin-top: 2%;">
      <div class="row justify-content-center">
        <label class="form-label">Full Name</label>
        <input type="text" class="form-control" formControlName="Fullname" placeholder="Name Surname">
        <small style="color:red;margin-left: 5px;" *ngIf="form.get('Fullname')?.errors?.['required']">Name required</small>
      </div>
    </div>

    <!-- in put destination&origin -->
    <div class="row justify-content-center" style="margin-inline-start: 20%;margin-inline-end: 20%;margin-top: 2%;">
      <!-- From what -->
      <div class="col-4">
        <label for="exampleDataList" class="form-label">From</label>
        <input class="form-control" list="datalistOptions" id="exampleDataList" placeholder="Type to search..." formControlName="From" >
        <datalist id="datalistOptions">
          <option value="San Francisco">
          <option value="New York">
          <option value="Seattle">
          <option value="Los Angeles">
          <option value="Chicago">
        </datalist>
        <small style="color:red;margin-left: 5px;" *ngIf="form.get('From')?.errors?.['required']">Origin required</small>
      </div>
      <!-- To what -->
      <div class="col-4">
        <label for="exampleDataList" class="form-label">To</label>
        <input class="form-control" list="datalistOptions" id="exampleDataList" placeholder="Type to search..." formControlName="To" >
        <datalist id="datalistOptions">
          <option value="San Francisco">
          <option value="New York">
          <option value="Seattle">
          <option value="Los Angeles">
          <option value="Chicago">
        </datalist>
        <small style="color:red;margin-left: 5px;" *ngIf="form.get('To')?.errors?.['required']">Destination required</small>
      </div>
    </div>

    <!-- type/Depart/arrive -->
    <div class="container" style="margin-top: 2%;">
      <div class="row align-items-start">
        <!-- first box pick type-->
        <div class = "col-4" style="margin-inline-end:-15%;margin-inline-start:22%">
          <div class="container">
            <label >Trip Type</label>
            <div class="row justify-content-start">
              <!-- first radio -->
              <div class="col-1" >
                <input type="radio" class="form-check-input" name="flexRadioDefault" id="flexRadioDefault1" value="One way" formControlName="Type" checked>
                <label class="form-check-label" for="flexRadioDefault1">One way</label>
              </div>
              <!-- second radio -->
              <div class="col" >
                <input type="radio" class="form-check-input" name="flexRadioDefault" id="flexRadioDefault2" value="Return" formControlName="Type">
                <label class="form-check-label" for="flexRadioDefault2">Return</label>
              </div>
              <small style="color:red;margin-left: 5px;" *ngIf="form.get('Type')?.errors?.['required']">Flight type required</small>
            </div>
          </div>
        </div>
        <!-- second box date picker-->
        <div class = "col-4" style="margin-inline-end:-10%">
          <div class="container">
            <div class="row justify-content-start">
              <div class="col-2">
                <label for="DepartDate">Departure</label>

                <mat-form-field>
                  <input matInput [matDatepicker]="depart" formControlName="Departure" readonly>
                  <mat-datepicker-toggle matSuffix [for]="depart"></mat-datepicker-toggle>
                  <mat-datepicker #depart ></mat-datepicker>
                </mat-form-field>

              </div>
            </div>
          </div>
          <small style="color:red;margin-left: 5px;" *ngIf="form.get('Departure')?.errors?.['required']">Departure date required</small>
        </div>
        <!-- third box -->
        <div class = "col-4" >
          <div class="container">
            <div class="row justify-content-start">
              <div class="col-2">
                <label for="ArriveDate">Arrival</label>

                <mat-form-field>
                  <input matInput [matDatepicker]="arrive" formControlName="Arrival" readonly>
                  <mat-datepicker-toggle matSuffix [for]="arrive"></mat-datepicker-toggle>
                  <mat-datepicker #arrive ></mat-datepicker>
                </mat-form-field>

              </div>
            </div>
          </div>
          <small style="color:red;margin-left: 5px;" *ngIf="form.get('Arrival')?.errors?.['required']">Arrival date required</small>
        </div>
      </div>
    </div>
    <!-- num of person -->
    <div class="container" style="margin-left: 25%;margin-top: 2%;">
      <div class="row align-items-center">
        <!-- first box ADULT-->
        <div class = "col-3" style="margin-inline-end:-9%;margin-inline-start:16%">
          <div class="container">
            <div class="row justify-content-start">
              <div class="col-2" >
                <label >Adults</label>
                <input type="text" class="form-control" formControlName="Adults" placeholder="Maximum Adults : 10">
              </div>
            </div>
          </div>
        </div>
        <!-- second box date picker Childern-->
        <div class = "col-3" style="margin-inline-end:-9%;">
          <div class="container">
            <div class="row justify-content-start">
              <div class="col-2">
                <label for="Children">Childern</label>
                <input type="text" class="form-control" formControlName="Children" placeholder="Maximum Children : 3">
              </div>
            </div>
          </div>
        </div>
        <!-- third box Infants -->
        <div class = "col-3">
          <div class="container">
            <div class="row justify-content-start">
              <div class="col-2">
                <label for="Infants">Infants</label>
                <input type="text" class="form-control" formControlName="Infants" placeholder="Maximum Infants : 2">

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <small style="color:red;margin-left: 36%;" *ngIf="form.get('Adults')?.errors?.['required']">Must have at least 1 adult.</small><br/>
        <button type="button" style="margin-inline-start:48%;margin-top: 2%;" [disabled]="form.invalid" class="btn btn-primary btn-lg" (click)="Submit(form)">Submit</button>

        <h4 style="color:green">
          {{form.value | json}}
        </h4>
  </form>
</div>

<div>
    <table class="table table-hover bg-info text-white table-bordered">
      <thead class="bg-danger text-white">
        <tr>
          <th scope="col">FullName</th>
          <th scope="col">From</th>
          <th scope="col">To</th>
          <th scope="col">Type</th>
          <th scope="col">Arrival</th>
          <th scope="col">Departure</th>
          <th scope="col">Adults</th>
          <th scope="col">Childern</th>
          <th scope="col">Infants</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let f of flights">
          <td>{{ f.fullName }}</td>
          <td>{{ f.from }}</td>
          <td>{{ f.to }}</td>
          <td>{{ f.type }}</td>
          <td>{{ f.arrival }}</td>
          <td>{{ f.departure }}</td>
          <td>{{ f.adults }}</td>
          <td>{{ f.children }}</td>
          <td>{{ f.infants }}</td>
        </tr>
      </tbody>
    </table>

</div>


